.App {
  text-align: center;
  
}

  .navbar {
    text-align: center;
    background: url("https://99percentinvisible.org/app/uploads/2019/07/solo-jaz.jpg");
    border: 3px solid rgb(53, 52, 45);
  }

  .home {
    text-align: center;
    background: url("https://99percentinvisible.org/app/uploads/2019/07/solo-jaz.jpg");
    border: 3px solid rgb(53, 52, 45);
    font-size: 30px;
  }

  .container {
    background: rgb(186, 126, 204);
    border: 2px solid rgb(53, 52, 45);
    border-radius: 10px;
  }

  .btn{
    font-style: normal ;
    display: inline-block;
    padding: 10px 16px;
    margin-bottom: 0;
    font-size: 17px;
    line-height: 1.5;
    text-align: center;
    white-space:nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid rgb(53, 52, 45);
    border-radius: 100px;
    background-image: url("https://64.media.tumblr.com/dd35d6b6b58014fb6052fef2c6651d06/tumblr_mscx1jeNyp1re8nlbo1_r1_500.gifv");
    }

    .form {
      font-size: 30px;
      text-align: center;
      background: url("https://cdn.wallpapersafari.com/2/1/zJk1FZ.jpg");
      border: 2px solid rgb(53, 52, 45)
    }

    .footer {
      text-align: center;
      border: 2px solid rgb(53, 52, 45);
      background-image: url("https://i.pinimg.com/originals/d5/66/94/d56694ec48e4d73be5cfd3073e73dcb1.gif");
    }

    .items {
      text-align: center;
    background: url("https://i.pinimg.com/originals/75/d4/a9/75d4a93897a7a845de49331b8cc3d7cf.jpg");
    border: 2px solid rgb(49, 26, 49);
    }



  


